*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "TT Hoves";
    src: url("./TT\ Hoves\ Pro\ Trial\ Light.ttf");
  }
body {
    font-family: "TT Hoves";
}
main {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
}
.header {
    display: flex;
    height: 102px;
    width: 1440px;
    align-items: center;
}
.nav ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
    margin-left: 330px
}
.nav li a {
    text-decoration: none;
    color: var(--gray-1, #333);
    font-family: TT Hoves;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
.logo svg {
    width: 68.552px;
    height: 41.527px;
    margin-left: 137px;
}
.nav li>a:hover {
    border-bottom: 0.971px solid #333333;
    border-top: 0.971px solid #333333;
}
.section-container {
    position: relative;
    display: flex;
}
.left-container {
    width: fit-content;
    top: 336px;
    left: 135px;
    position: absolute;
}
.right-container {
    width: 50%;
    position: absolute;
    top: 3px;
    left: 535px;
}
.left-container>p:first-child {
    color: var(--gray-4, #BDBDBD);
    font-family: TT Hoves;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
    width: 277px;
}
.left-container>p:nth-child(2) {
    color: var(--gray-1, #333);
    font-family: TT Hoves;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}
.arrow-container {
    display: flex;
    position: relative;
    gap: 23px;
    top: 90px;
}
.active:hover {
    background: #F9F9F9;
    cursor: pointer;
    color:black;
    font-weight: 700;
}
.container:hover .overlay {
    height: 100%;
    cursor: pointer;
  }
.container {
    display: flex;
    position: relative;
    gap: 30px;
    width: 570px;
}
img.image {
    display: block;
    width: 100%;
    height: auto;
}
img.image1 {
    width: 570px;
    height: 255px;
}
.overlay .text>p {
    display: flex;
    gap: 12px;
    margin-top: 14px;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    right: 0;
    background-color: #333333;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.text {
    color: white;
    width: 570px;
    font-size: 64px;
    padding: 48px 79px;
    /* height: 255px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: start;
}
.left-arrow {
    display: flex;
    border: 1px solid #F2F2F2;
    height: 53px;
    width: 53px;
    align-items: center;
    justify-content: center;
}
.right-arrow {
    border: 1px solid #F2F2F2;
    height: 53px;
    width: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date-container {
        display: flex;
        position: absolute;
        top: 701px;
        left: 135px;
        color: var(--gray-4, #BDBDBD);
        font-family: TT Hoves;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
}
.date-container>p:first-child {
    margin-right: 26px;
}
.date-container>p:nth-child(2) {
    font-size: 43.8px;
    border : 2px;
    color: #E0E0E0;
    transform:  rotate(45deg);
    margin-right: 32px;
}
button.btn {
    display: flex;
    width: 222px;
    background: #FFF;
    gap: 12px;
    position: absolute;
    top: 758px;
    left: 0.5px;
    height: 71px;
    font-size: 12px;
    border: none;
    align-items: center;
    justify-content: center;
}
.about-container {
    width: 1170px;
    left: 135px;
    top: 952px;
    height: 435px;
    position: relative;
    background-color: #FBFBFB;
}
.about-container img:first-child {
    position: absolute;
    top: 30px;
    left: 80px;
}
.about-container img:nth-child(2) {
    position: absolute;
    top: 60px;
    left: 400px;
}
.about-container img:nth-child(3) {
    position: absolute;
    top: 325px;
    left: 100px;
}
.about-right {
    display: flex;
    flex-direction: column;
    position: absolute;
    row-gap: 20px;
    top: 30px;
    right: 70px;
}
.about-right p:first-child {
    color: var(--gray-4, #BDBDBD);
    font-family: TT Hoves;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
}
.about-right p:nth-child(2) {
    color: #000;
    font-family: TT Hoves;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    display: flex;
    width: 400px;
    height: 200px;
}
.about-right button {
    width: 222px;
    height: 71px;
    background-color: #fff;
    border: none;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-tasks {
    width: 1170px;
    top: 1537px;
    position: absolute;
    height: 268px;
    left: 135px;
}
.main-tasks p:first-child {
    color: var(--gray-4, #BDBDBD);
    font-family: TT Hoves;
    font-size: 64px;
    position: absolute;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
    top: 0;
    left: 0;
}
.main-tasks p:nth-child(2) {
    color: var(--gray-6, #F2F2F2);
    font-family: SF Pro Display;
    font-size: 200px;
    font-style: normal;
    position: absolute;
    font-weight: 900;
    line-height: normal;
    display: flex;
    width: 104px;
    height: 140px;
    bottom: 2px;
    flex-direction: column;
    left: 0;
    justify-content: center;
}
.main-tasks p:nth-child(3) {
    display: flex;
    width: 279px;
    position: absolute;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--gray-1, #333);
    font-family: TT Hoves;
    left: 134px;
    font-size: 22px;
    top: 124px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}
.main-tasks p:nth-child(4) {
    color: var(--gray-6, #F2F2F2);
    font-family: SF Pro Display;
    font-size: 200px;
    font-style: normal;
    position: absolute;
    font-weight: 900;
    line-height: normal;
    display: flex;
    width: 104px;
    height: 140px;
    bottom: 2px;
    flex-direction: column;
    left: 600px;
    justify-content: center;
}
.main-tasks p:nth-child(5) {
    display: flex;
    width: 420px;
    position: absolute;
    flex-direction: column;
    left: 750px;
    color: var(--gray-1, #333);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    top: 124px;
}
.our-projects {
    width: 1170px;
    height: 765px;
    position: absolute;
    top: 1925px;
    left: 135px;
}
.active1:hover {
    background-color: #000000;
    cursor: pointer;
}
.our-projects h2 {
    color: var(--gray-4, #BDBDBD);
    font-size: 64px;
    position: absolute;
    top: 0;
    left: 0;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
}
.slideshow-container {
    overflow:hidden;
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.slideshow-container:hover {
    overflow-x: auto;
}
/* .overlay {
    position: absolute;
    padding: 48px 79px;
    left: 0;
    top: 124px;
    opacity: 0.800000011920929;
    background: var(--gray-1, #333);
    width: 570px;
    height: 255px;
} */
.overlay p:first-child {
    color: #FFF;
    padding-bottom: 8px;
    font-family: TT Hoves;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}
.overlay p:last-child {
    color: #FFF;
    font-family: Gothic A1;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
/* .our-projects img:nth-child(2) {
    position: absolute;
    left: 0;
    top: 124px;
}
.our-projects img:nth-child(3) {
    position: absolute;
    right: 0;
    top: 124px;
}
.our-projects img:nth-child(4) {
    position: absolute;
    left: 0;
    bottom: 101px;
}
.our-projects img:nth-child(5) {
    position: absolute;
    left: 300px;
    bottom: 101px;
}
.our-projects img:nth-child(6) {
    position: absolute;
    right: 0;
    bottom: 101px;
} */
.our-projects>button {
    position: absolute;
    bottom: 120px;
    right: 0;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    width: 222px;
    background-color: var(--gray-1, #333);
    height: 71px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}
.contact {
    width: 1170px;
    left: 135px;
    position: absolute;
    top: 2810px;
    height: 603px;
}
.contact input {
    padding-top: 15px;
    display: flex;
    width: 391px;
    padding-bottom: 14px;
    height: 46px;
    border: none;
    background-color: #F3F3F3;
    padding-left: 21px;
    margin-bottom: 10px;
}
/* input.asterisk {
    position: relative;
  }
input.asterisk::after {
    content: "*";
    color: red;
    margin-left: 3px;
  } */
.contact .title-form {
    color: var(--gray-4, #BDBDBD);
    font-family: TT Hoves;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 22px;
    line-height: 64px;
}
.contact input:nth-child(5) {
    width: 391px;
    padding-bottom: 116px;
    height: 147px;
}
.contact .contact-img {
    position: absolute;
    top: 86px;
    width: 749px;
    height: 369px;
    left: 421px;
}
.contact .svg-form {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    bottom: 100px;
}
.contact .svg-form1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    bottom: 90px;
}
.policy {
    color: #333;
    bottom: 92px;
    left: 40px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px; 
    width: 331px;
    height: 34px;
}
button.form {
    display: flex;
    color: #FFF;
    gap: 15px;
    font-family: TT Hoves;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    background: var(--gray-1, #333);
    letter-spacing: 2.4px;
    text-transform: uppercase;
    width: 222px;
    height: 71px;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}
.footer {
        width: 100%;
        height: 417px;
        background: #2C2C2C;
        position: absolute;
        top: 3533px;
        left: 0;
}
.footer img {
    position: absolute;
    left: 116px;
    top: 58px;
}
.infor p {
    color: #FFF;
    font-family: TT Hoves;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 25px;
    line-height: normal;
}
.infor a {
    text-decoration: none;
    display: flex;
    color: #FFF;
    font-family: TT Hoves;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-bottom: 16px;
}
.infor {
    position: absolute;
    top: 58px;
    left: 360px;
}
.contact-footer {
    top: 58px;
    color: #FFF;
    font-family: TT Hoves;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    left: 620px;
    position: absolute;
}
.contact-footer p {
        display: flex;
        margin-bottom: 32px;
        gap: 19px;
}
.contact-footer p:first-child {
    margin-bottom: 25px;
}
.contact-footer p:nth-child(2) {
    display: flex;
    width: 314px;
    gap: 19px;
    height: 72px;
    flex-direction: row;
}
.contact-footer svg {
    width: 16px;
    height: 16px;
}
.social-icon {
    position: absolute;
    right: 212px;
    top: 58px;
    color: #FFF;
    font-family: TT Hoves;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.social-icon p {
    margin-bottom: 24px;
}
.social-icon svg {
    margin-right: 40px;
}
.social-icon svg:hover {
    cursor: pointer;
}
.footer .copyright {
    position: absolute;
    color: rgba(200, 200, 200, 0.50);
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    bottom: 24px;
    left: 591px;
    right: 591px;
    width: 258px;
}
hr.line-footer {
    stroke-width: 1px;
    stroke: #FFF;
    opacity: 0.10000000149011612;
    position: absolute;
    width: 1440px;
    height: 0px;
    bottom: 70px;
}